{{#> static/templates/src/layout}}
    {{#*inline "title"}}Hello {{name}}!{{/inline}}
    {{#*inline "content"}}
        <div class="page-heading">
            <div class="container center-text">
                <!--<h1>Hello {{name}}!</h1>-->
                <!--<p>Edit the name by modifying the <code>?name=</code> query parameter. Empty string or a non existent parameter defaults to world.</p>-->

                <h2> Фильтры</h2>
                <table style="width:100%">
                    <tr>
                        <th>Номер поезда</th>
                        <th>Откуда</th>
                        <th>Куда</th>
                        <th>Когда</th>
                        <th>Места</th>
                    </tr>

                    {{#filters}}
                        <tr>

                            <td>{{trainCode}}</td>
                            <td>{{from}}</td>
                            <td>{{to}}</td>
                            <td>{{when}}</td>
                            <td>{{seatTypes}}</td>
                        </tr>
                    {{/filters}}



                </table>

                <h2>Места</h2>
                <table style="width:100%">
                    <tr>
                        <th>Номер поезда</th>
                        <th>Места</th>
                        <th>Примерная цена</th>
                    </tr>

                    {{#each trains}}
                        <tr>

                            <td>{{@key}}</td>
                            <td>{{this.freeSeats}}</td>
                            <td>{{this.tariff}}</td>
                        </tr>
                    {{/each}}
                </table>

                <h2>Нашли</h2>
                <table style="width:100%">
                    <tr>
                        <th>Обновлено</th>
                    </tr>

                    {{#each logs}}
                        <tr>
                            <td>{{this}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>

    {{/inline}}
{{/ static/templates/src/common/_base-layout}}